.header {
  display: flex;
  justify-content: space-between;
}

.main {
  background: no-repeat url(img/1.svg),
    no-repeat url(img/2.svg),
    no-repeat url(img/3.svg);
}

.hamburger-menu {
  visibility: hidden;
  position: absolute;
  z-index: 999;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-self: flex-end;
  margin-left: 276px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 1;
  margin-top: 7px;
}

.menu__btn >span,
.menu__btn >span::before,
.menu__btn >span::after {
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  align-self: flex-end;
  background-color: #fcf5ed;
}

.menu__btn >span::before {
  content: '';
  top: -8px;
}

.menu__btn >span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 176px 0;
  list-style: none;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: 0.25s;
}

.menu__item_hamburger-menu {
  display: block;
  padding: 12px 24px;
  color: #000;
  font-family: 'Museo_Sans_Cyrl', sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #172f27;
}

#menu__toggle:checked~ .menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked~ .menu__btn>span::before {
  top: -24px;
  left: -10px;
  transform: rotate(0);
  background-color: #000;
}

#menu__toggle:checked~ .menu__btn>span::after {
  top: -24px;
  left: -10px;
  transform: rotate(90deg);
  background-color: #000;
}

#menu__toggle:checked~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  transition-duration: 0.25s;
}

.menu__item {
  transition-duration: 0.25s;
}

.logo {
  background: left no-repeat url(img/logo.svg);
  z-index: 999;
}

body {
  background: no-repeat url(img/background.svg);
}

.main__title {
  font-family: 'PT_Serif', arial, helvetica, sans-serif;
  opacity: 40%;
  color: #F8EEE4;
}

.main__title-text_small {
  font-family: 'PT_Serif', arial, helvetica, sans-serif;
  color: #F8EEE4;
}

.main__subtitle {
  font-family: 'Museo_Sans_Cyrl', arial, helvetica, sans-serif;
  color: #F8EEE4;
}

.main__button {
  font-family: 'Museo_Sans_Cyrl', arial, helvetica, sans-serif;
  color: #fff;
  background: #D4BEA3;
  text-decoration: none;
  border-radius: 48px;
}

.main__button:hover {
  transition-duration: .5s;
  opacity: .8;
  background: #c7447d;
  box-shadow: 0 30px 50px rgba(46, 229, 157, .4);
  color: #fff;
  transform: translateY(-7px);
}

.logo,
.menu {
  display: inline-block;
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
}

.menu__item {
  font-family: 'Museo_Sans_Cyrl', arial, helvetica, sans-serif;
  color: #F8EEE4;
  text-decoration: none;
  transition: opasity 0.5s
}

@media (max-width: 10000px) and (min-width: 1650px) {
  .header {
    margin-right: 3.6%;
    margin-left: 10.1%;
  }

  .main {
    margin: -149.5px 0 0 10%;
    background-position: 844px 115px,
      1195px 135px,
      1513px 134px;
  }

  .menu__item {
    margin-right: 38px;
    font-size: 22px;
    line-height: 27px;
  }

  body {
    background-size: 100%
  }


  .menu {
    margin: 95px 0;
  }

  .main__title {
    font-size: 280px;
    line-height: 371px;
    margin: 200px 0 -142px 0;
  }

  .main__button {
    font-size: 22px;
    line-height: 26px;
    padding: 18.8px 89.5px;
    margin: 0 0 0 1.4%;
  }

  .main__subtitle {
    font-size: 22px;
    line-height: 26px ;
    padding-right: 67%;
    margin: 0 0 54px 1.3%;
  }

  .main__title-text_small {
    font-size: 98px;
    line-height: 130px;
    margin: 0 0 24px 5%;
  }

  .logo {
    background-size: 147px 56px;
    padding: 22px 62% 143px 0px;
  }
}

@media (max-width: 1650px) and (min-width: 1250px) {
  .header {
    margin-right: 3.2%;
    margin-left: 9.9%;
  }

  .main {
    margin: -161px 0 0 10%;
    background-position: 598.7px 81px,
      849px 97px,
      1059px 96px;
    background-size: 227px 302px,
      202px 270px,
      181px 270px;
  }

  body {
    background-size: 100%
  }

  .menu__item {
    margin-right: 26px;
    font-size: 16px;
    line-height: 19px;
  }

  .main__title {
    font-size: 200px;
    line-height: 265px;
    margin: 200px 0 -102px 0;
  }

  .main__button {
    font-size: 16px;
    line-height: 19px;
    padding: 12.5px 62.9px;
    margin: 0 0 0 1.3%;
  }

  .main__subtitle {
    font-size: 16px;
    line-height: 19px ;
    padding-right: 66%;
    margin: 0 0 38.2px 1.2%;
  }

  .main__title-text_small {
    font-size: 70px;
    line-height: 93px;
    margin: 0 0 15.9px 4.8%;
  }

  .logo {
    background-size: 104px 39px;
    padding: 5px 62% 143px 0px;
  }
}

@media (max-width: 1250px) and (min-width: 991px) {
  .header {
    margin-right: 2.9%;
    margin-left: 3.3%;
  }

  .main {
    margin: -161px 0 0 3.3%;
    background-position: 468.8px 83.5px,
      719.5px 98.9px,
      929px 99px;
    background-size: 227px 302px,
      202px 270px,
      181px 270px;
  }

  .menu__item {
    margin-right: 27.1px;
    font-size: 16px;
    line-height: 19px;
  }

  .main__title {
    font-size: 200px;
    line-height: 265px;
    margin: 200px 0 -99px 0;
  }

  .main__button {
    font-size: 16px;
    line-height: 19px;
    padding: 12.5px 62.9px;
    margin: 0 0 0 1.6%;
  }

  .main__subtitle {
    font-size: 16px;
    line-height: 19px ;
    padding-right: 58%;
    margin: 0 0 40px 1.5%;
  }

  .main__title-text_small {
    font-size: 70px;
    line-height: 93px;
    margin: 0 0 14px 6%;
  }

  .logo {
    background-size: 104px 39px;
    padding: 5px 62% 143px 0px;
  }

  .menu {
    margin-top: 7px;
  }
}

@media (max-width: 990px) and (min-width: 769px) {
  .main {
    margin: -161px 0 0 0;
    background-position: 468.8px 83.5px,
      719.5px 98.9px,
      929px 99px;
    background-size: 227px 302px,
      202px 270px,
      181px 270px;
  }

  .menu__item {
    margin-right: 27.1px;
    font-size: 16px;
    line-height: 19px;
  }

  .main__title {
    font-size: 200px;
    line-height: 265px;
    margin: 200px 0 -99px 0;
  }

  .main__button {
    font-size: 16px;
    line-height: 19px;
    padding: 12.5px 62.9px;
    margin: 0 0 0 1.6%;
  }

  .main__subtitle {
    font-size: 16px;
    line-height: 19px ;
    padding-right: 58%;
    margin: 0 0 40px 1.5%;
  }

  .main__title-text_small {
    font-size: 70px;
    line-height: 93px;
    margin: 0 0 14px 6%;
  }

  .logo {
    background-size: 104px 39px;
    padding: 5px 62% 143px 0px;
  }

  .menu {
    margin-top: 7px;
  }
}

@media (max-width: 768px) and (min-width: 501px) {
  .hamburger-menu {
    visibility: visible;
  }

  .main {
    background-image: url(#);
    text-align: center;
  }

  .menu {
    display: none;
  }

  .menu__btn {
    margin-left: 450px;
  }

  .logo {
    margin-top: -19.5px;
    background-size: 107px 40px;
    padding: 5px 62% 143px 0px;
  }

  .header {
    margin-right: 9%;
    margin-left: 9%;
  }

  .main__title {
    font-size: 170px;
    line-height: 225px;
    margin: -0.1px 0 -275px 2.2%;
  }

  .main__title-text_small {
    font-size: 60px;
    line-height: 80px;
    margin: 200px 0 -200px 18.5%;
  }

  .main__subtitle {
    font-size: 18px;
    line-height: 22px ;
    padding-top: 58%;
    margin: 0 22% 49.5px 22%;
  }

  .main__button {
    font-size: 16px;
    line-height: 19px;
    padding: 12.5px 62.9px;
    margin: 0;
  }
}

@media (max-width: 500px) and (min-width: 381px) {
  .hamburger-menu {
    visibility: visible;
  }

  .main {
    background-image: url(#);
    text-align: center;
  }

  .menu__btn {
    margin-left: 350px;
  }

  .menu {
    display: none;
  }

  .logo {
    margin-top: -19.5px;
    background-size: 107px 40px;
    padding: 5px 62% 143px 0px;
  }

  .header {
    margin-right: 9%;
    margin-left: 9%;
  }

  .main__title {
    font-size: 170px;
    line-height: 225px;
    margin: -0.1px 0 -275px 2.2%;
  }

  .main__title-text_small {
    font-size: 60px;
    line-height: 80px;
    margin: 200px 0 -172px 18.5%;
  }

  .main__subtitle {
    font-size: 18px;
    line-height: 22px ;
    padding-top: 58%;
    margin: 0 9% 49.5px 9%;
  }

  .main__button {
    font-size: 16px;
    line-height: 19px;
    padding: 12.5px 62.9px;
    margin: 0;
  }
}

@media (max-width: 380px) {
  .hamburger-menu {
    visibility: visible;
  }

  .main {
    background-image: url(#);
  }

  .menu {
    display: none;
  }

  .menu__btn {
    margin-left: 276px;
  }

  .logo {
    margin-top: -19.5px;
    background-size: 107px 40px;
    padding: 5px 62% 143px 0px;
  }

  .header {
    margin-right: 9%;
    margin-left: 9%;
  }

  .main__title {
    font-size: 170px;
    line-height: 225px;
    margin: -0.1px 0 -275px 2.2%;
  }

  .main__title-text_small {
    font-size: 60px;
    line-height: 80px;
    margin: 200px 0 -172px 18.5%;
  }

  .main__subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 22px ;
    padding-top: 58%;
    margin: 0 9% 49.5px 9%;
  }

  .main__button {
    font-size: 16px;
    line-height: 19px;
    padding: 12.5px 62.9px;
    margin: 0 0 0 19%;
  }
}
